<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="/css/mystyle.css"/>
</head>
<body>
  <h1><%= dynamic_text %></h1>
  This is HTML
  <img src="/image/baidu.png" />
</body>
</html>